<footer>

    <br/>
    <nav>
        <a href="https://github.com/kshew2/kshew2.github.io" target="_blank">Github Repo</a>
        <a href="https://kshew2.github.io/itis3135/" target="_blank">Github.io 3135 Homepage</a>
        <a href="https://www.freecodecamp.org/Kshew2" target="_blank">FreeCodeCamp Page</a>
        <a href="https://www.linkedin.com/in/khalil-shew-75759322a/" target="_blank">Linkedin Page</a>
        <a href="https://jsfiddle.net/user/kshew2" target="_blank">JSfiddle Page</a>
        <a href="https://webpages.charlotte.edu/kshew2/" target="_blank">UNCC Link</a>
    </nav>
    <p><a id="validation_link_html" href="https://jigsaw.w3.org/css-validator/check/referer" target="_blank"><img alt="CSS-validator" src="images/button_validation_css.png" width ="88" height = "31"></a>
    <a id="validation_link_css" href="https://validator.w3.org/check?uri=referer" target="_blank"><img alt="HTML-validator" src="images/button_validation_html5.png" width ="88" height = "31"></a></p>
Created by <a href="https://webpages.charlotte.edu/kshew2/itis3135/khakisalamanderinc.com/index.html" target="_blank"> Shew Dev. Industries</a> &copy;2022. 

</footer>